body {
    font-family: 'Times New Roman', Times, serif;
    
    margin: 0;
    padding-top: 95px;
    padding-left: 125px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}

.header {
    height: 70px;
    background-color: rgb(9, 170, 185);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.sidebar {
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);
    

    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    background-color: rgb(9, 170, 185);
    width: 125px;
    z-index: 200;
    padding-top: 40px;
}

.airport {
    background-color: aliceblue;
    font-weight: bold;
    letter-spacing: 2px;

    border-width: 2px;
    border: solid;
    border-color: rgb(0, 93, 101);
    border-radius: 40px;
    margin-bottom: 25%;
    margin-right: 2px;
    margin-left: 2px;

    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.airport:hover {
    background-color: rgb(235, 235, 235);
}

.home {
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;

    border-width: 6px;
    border-style: double;
    border-color: rgb(0, 93, 101);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 28px;
    margin-right: 20px;

    cursor: pointer;
    display: flex;
}

.home:hover {
    background-color: rgb(235, 235, 235);
}

.title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    position: absolute;
    left: 35%;

    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-radius: 40px;
    border-width: 4px;
    border-color: rgb(0, 93, 101);
    background-color:aliceblue;
}

.feedback {
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;

    border-width: 6px;
    border-style: double;
    border-color: rgb(0, 93, 101);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 28px;
    margin-right: 20px;

    cursor: pointer;
    display: flex;
}

.feedback:hover {
    background-color: rgb(235, 235, 235);
}

.information-grid {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 50%;

    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 5%;
    margin-top: 35px;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 50px 20px;
}

.information-heading {
    background-color: rgba(89, 115, 117, 0.867);
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;
    width: fit-content;
    color: white;

    font-size: 190%;
    font-weight: bold;
    border-radius:25px 0px 25px 0px;
}

.information {
    background-color: rgb(255, 255, 255);
    font-size: 120%;
    line-height: 30px;
    border-radius:0px 25px 25px 0px;
    padding: 10px 30px 10px 10px;
    width: 85%;
    word-spacing: 3px;
}

.graph-grid {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 25px;
    margin-top: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}


.airport-image-grid {
    border-width: 4px;
    border-style: solid;
    border-color: black;
    position: relative;

    margin-top: 40px;
    
    width: 600px;
    height: 400px;
}

.airport-image {
    width: 100%;
    height: 100%;
}

.main-grid {
    display: flex;
    flex-direction: row;
}

.information-grid2 {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 25px;
    margin-top: 20px;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
}

.form-grid {
    margin-left: 25%;
    width: 50%;
  }

.form {
    padding: 10px;
    background-color: #f6f6f6;
    overflow: hidden;
 }

.feedback-title {
    background-color: rgba(89, 115, 117, 0.867);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 45%;
    padding-right: 45%;
    width: fit-content;
    color: white;
    margin: auto;

    font-size: 190%;
    font-weight: bold;
    border-radius: 25px;
}

input[type="text"],
textarea,
select {
    font: 17px Calibri;
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-area {
    display: flex;
    flex-direction: row;

    margin-bottom: 40px;
    margin-top: 30px;
}

.results {
    font: 17px;
}

.displayArea {
    height: 250px;
    margin-bottom: 50px;
}

.question-text {
    font-weight: bold;  
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 0px 20px 20px 0px;
    color: #333;
    background-color: white;
}

.msg-box {
    height: 100px;
}

.submit-button {
    background-color: #3e5873;
    color: white;              
    border: none;            
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35%;  
    font-size: 16px;   
    cursor: pointer;         

    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
    background-color: #2a3b4c;
}